@model CuckooStore.Models.User
@{
    ViewBag.Title = "Register";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/wwwrt/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/wwwrt/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/wwwrt/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/wwwrt/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/wwwrt/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/wwwrt/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/wwwrt/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/wwwrt/css/main.css">
    <style>
        .p-b-140 {
            padding-bottom: 0px;
        }
        .wrap-login100 {
            padding: 70px 130px 100px 100px;
        }
    </style>
</head>
<body>
    <div class="wrap-login100" style="margin: auto">
        <div class="login100-pic js-tilt" data-tilt>
            <img src="~/wwwrt/images/img-01.png" alt="IMG">
        </div>

        <form class="login100-form validate-form" action="/Home/Register" method="post">
            <span class="login100-form-title">
                Đăng ký
            </span>
            <div class="wrap-input100 validate-input" data-validate = "Tên không để trống">
                <input class="input100" type="text" name="FullName" placeholder="Họ và tên">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
            </div>
            <div class="wrap-input100 validate-input" data-validate = "Email không để trống">
                <input class="input100" type="text" name="Email" placeholder="Email" id="email">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>
            @if (ViewBag.ErrorEmail != null)
            {
                <p id="erMail" style="color:red">@ViewBag.ErrorEmail</p>
            }
            <div class="wrap-input100 validate-input" data-validate = "Pass không để trống">
                <input class="input100" type="password" name="PassWord" placeholder="Mật khẩu">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>
            <div class="wrap-input100 validate-input" data-validate = "Địa chỉ không để trống">
                <input class="input100" type="text" name="Address" placeholder="Địa chỉ">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                </span>
            </div>
            <div class="wrap-input100 validate-input" data-validate = "Phone không để trống">
                <input class="input100" type="text" name="Phone" placeholder="Số điện thoại">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </span>
            </div>
            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    <b href="@Url.Action("Login","Home")" style="color: white">Đăng Ký</b>
                </button>
            </div>
            @if (ViewBag.Error != null)
            {
                <br />
                <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
            }
        </form>
    </div>
    <script src="~/wwwrt/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/wwwrt/vendor/bootstrap/js/popper.js"></script>
    <script src="~/wwwrt/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/wwwrt/vendor/select2/select2.min.js"></script>
    <script src="~/wwwrt/vendor/tilt/tilt.jquery.min.js"></script>
    <!--scale Image Login and Register-->
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <script src="~/wwwrt/js/main.js"></script>
</body>
</html>

