
@{
    ViewBag.Title = "OldCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
    <a class="navbar-brand" href="#">Navbar</a>
</nav>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" tabindex="0">
    <h4></h4>
    <p>...</p>
</div>